.btn-shape {
    display: block;
    width: fit-content;
    padding: 10px 30px;
    border: 2px solid $sky-blue;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .5px;
    border-radius: 30px;
}